.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 75px;
    background-color: #333;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.branding {
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.faBars {
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 75px;
    width: 100%;
    height: 70px;
    transition: 0.3s ease-out;
    z-index: 90;
    background-color: #666;
}

.open {
    top: -140px;
}

.navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0 30px;
    font-size: 2rem;
}

.navItem a {
    text-decoration: none;
    color: white;
}

.navItem a:hover {
    color: #d2d2d2;
}