.sideBar {
    flex: 0 0 15%;
    max-width: 15%;
    background-color: #333;
    padding: 20px;
}

.portFolios {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 145px;
}

.sidebarLink {
    color: #fff;
    text-decoration: none;
}

.sidebarLink:hover {
    color: #d2d2d2;
}